.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  @include respond(mobile) {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  @include respond(tablet) {
    flex-wrap: wrap;
  }

  &__link {
    width: 100%;
    flex: 1;
    margin-bottom: 5rem;
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &-subtitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      padding-bottom: 0.5rem;
    }
    &-img {
      @include fadeIn;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    background: transparent;
    font-family: $font-main;
    font-style: italic;
    font-size: 2rem;
  }
}

.story-card__1 {
  &__link {
    background: black;
  }
  &__inner {
    color: white;
    &-img {
      width: 100%;
      height: 55%;
    }
  }
}

.story-card__2 {
  &__link {
    background: #292229;
  }
  &__inner {
    position: relative;
    color: white;
    padding: 0;
    &-img {
      width: 100%;
      max-height: 50vh;
      position: absolute;
      top: 0;
    }
    &-title {
      margin-bottom: 4rem;
    }
    &-heading {
      width: 90%;
      position: absolute;
      bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.story-card__3 {
  @include respond(mobile) {
    height: 100%;
  }
  &__link {
    background: white;
  }
  &__inner {
    padding: 0;
    &-img {
      width: 100%;
      max-height: 80%;
    }
    &-subtitle {
      padding: 2rem;
    }
    &-title {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      text-align: center;
      &__span:nth-of-type(1)::after {
        content: "";
        display: block;
        background: url("../../images/D236F721-08D3-4592-B315-408D432153B7.jpg");
        background-size: cover;
        height: 400px;
        @include respond(mobile) {
          height: 200px;
          margin: 1rem auto;
        }
      }
    }
  }
}
