.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;

  @include respond(mobile) {
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0;
  }
  @include respond(tablet) {
    flex-wrap: wrap;
    width: 100%;
  }

  &__link {
    width: 100%;
    height: 95%;
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &-subtitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      padding-bottom: 0.5rem;
    }
    &-img {
      @include fadeIn;
      object-fit: cover;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    background: transparent;
    font-family: $font-main;
    font-style: italic;
    font-size: 2rem;
  }
}

.story-card__1 {
  &__link {
    background: black;
  }
  &__inner {
    color: white;
    &-img {
      width: 100%;
      height: 55%;
    }
  }
}

.story-card__2 {
  &__link {
    background: #292229;
  }
  &__inner {
    color: white;
    padding: 0;
    &-img {
      width: 100%;
      max-height: 80%;
    }
    &-subtitle {
      padding: 2rem;
    }
  }
}

.story-card__3 {
  &__link {
    background: white;
  }
  &__inner {
    // color: white;
    padding: 0;
    &-img {
      width: 100%;
      max-height: 80%;
    }
    &-subtitle {
      padding: 2rem;
    }
  }
}
