.stories {
  background: rgb(218, 217, 204);
  height: 100%;

  &__heading {
    height: 30vh;
    margin-bottom: 5rem;

    &-inner {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      @include fadeUp;
    }
    &-title {
      font-size: 2rem;
    }
    &-subtitle {
      font-size: 2.5rem;
      font-style: italic;
      width: 30%;
      text-align: center;
      padding-top: 1.5rem;
      @include respond(mobile) {
        width: 90vw;
        font-size: 2rem;
      }
    }
  }
  &__main {
    height: 100%;
    margin: auto;
    display: flex;
    @include respond(mobile) {
      flex-direction: column;
    }
    @include respond(tablet) {
      flex-direction: column;
    }
  }
  &__card-outter {
    width: 30%;
    max-height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    @include respond(mobile) {
      width: 100%;
      margin: 0;
    }
  }
  &__main-footer {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 15rem 0;
  }
}

.stories__card-outter.col {
  @include respond(mobile) {
    flex: initial;
  }
}
