.stories {
  background: rgb(218, 217, 204);
  height: 100%;

  &__heading {
    height: 30vh;
    margin-bottom: 5rem;

    &-inner {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      @include fadeUp;
    }
    &-title {
      font-size: 2rem;
    }
    &-subtitle {
      font-size: 2.5rem;
      font-style: italic;
      width: 30%;
      text-align: center;
      padding-top: 1.5rem;
      @include respond(mobile) {
        width: auto;
      }
    }
  }
  &__main {
    height: 100%;
    margin: auto;
    display: flex;
    @include respond(mobile) {
      flex-direction: column;
    }
    @include respond(tablet) {
      flex-direction: column;
    }
  }
  &__card {
    width: 30%;
    max-height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    @include respond(mobile) {
      width: 100%;
      margin: 0;
    }
  }
  &__main-footer {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 15rem 0;
  }
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70vh;
  @include respond(tablet) {
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
  }

  &__link {
    width: 100%;
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &-subtitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      padding-bottom: 0.5rem;
    }
    &-img {
      @include fadeIn;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    background: transparent;
    font-family: $font-main;
    font-style: italic;
    font-size: 2rem;
  }
}

.copenhagen {
  .story__link {
    background: black;
    height: 95%;
  }
  .story__inner {
    color: white;
    &-img {
      width: 100%;
      height: auto;
    }
  }
}

.heading-xl {
  font-size: 8em;
  text-transform: uppercase;
  font-weight: 600;
  @include respond(mobile) {
    font-size: 4rem;
  }
}
