.story1 {
  background: black;
  height: 100%;
  font-family: $font-main;
  &__heading {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5rem;
    @include fadeUp;

    &-inner {
      margin: auto;
    }
    &-title {
      font-size: 10rem;
      @include respond(mobile) {
        font-size: 5rem;
      }
    }
  }

  &__img {
    width: auto;
    max-height: 100vh;
    margin: 3rem;

    @include respond(mobile) {
      width: 100%;
      height: auto;
      margin: 1rem 0;
      &-img6,
      &-img9,
      &-img10,
      &-img11 {
        width: 50%;
        max-height: 50vh;
      }
    }

    &-img1 {
      height: 70vh;
      @include respond(mobile) {
        height: auto;
      }
    }
    &-img2 {
      margin-left: auto;
    }
  }

  &__masonary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @include respond(mobile) {
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }
}
