.add-photo-form {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    margin: auto;
  }

  &--closed {
    height: 0;
    width: 0;
    display: none;
  }

  &--open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: darken($color: $grey, $amount: 5%);
    z-index: 1000;
    position: fixed;
    top: 20vh;
    bottom: 20vh;
    left: 30vw;
    right: 30vw;
    font-size: 1.9rem;

    @include respond(mobile) {
      width: 90vw;
      top: 10vh;
      bottom: 10vh;
      left: 5vw;
      right: 5vw;
    }
    @include respond(tablet) {
      width: 80vw;
      top: 20vh;
      bottom: 20vh;
      left: 10vw;
      right: 10vw;
    }

    .form__input {
      border: none;
      padding: 0.5rem;
      width: 70%;
      margin: auto;
    }
    .form__input-img {
      width: 20rem;
      opacity: 0;

      &-label {
        &:after {
          content: "select file";
          display: block;
          text-transform: lowercase;
          font-size: 1.5rem;
          padding: 0.5rem 2rem;
          cursor: pointer;
          background: darken($color: $grey, $amount: 10%);
          font-weight: 600;
        }
      }

      &-file {
        font-size: 1.2rem;
        padding-top: 1rem;
      }
    }

    .form__label,
    .form__radio-btns,
    .form__submit-btn,
    .form__input-img-label::after {
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .form__submit-btn {
      text-transform: uppercase;
      padding: 1rem 2.5rem;
      font-size: 1.5rem;
      background: darken($color: $grey, $amount: 10%);
      font-weight: 600;
    }

    .form__radio-btn {
      margin: 1rem;
      &:checked {
        color: red;
      }
    }
    
    .form__close-btn {
      background: darken($color: $grey, $amount: 5%);
      margin-left: auto;
    }
    .form__close-btn > img {
      width: 2rem;
      height: 2rem;
    }
  }
}
