//section about
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;

  &__img-wrapper,
  &__text {
    flex: 1;
    height: 100%;
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 20, 15); //rgb(148, 162, 163)
  }
  &__img {
    width: 40rem;
    height: auto;
    margin: auto;
    @include fadeIn;
  }
}

.about__text {
  @include fadeUp;

  &-outter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
    &__title {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 2.5rem;
    }
  }
  &-inner {
    margin: 3rem;
    &__p {
      margin: 0 2rem;
      padding-bottom: 2rem;
      font-size: 1.3rem;
    }
  }
}

//section inspiration
.inspiration {
  &__heading {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      font-size: 2.2rem;
      text-transform: uppercase;
      padding-top: 5rem;
    }
    &-subtitle {
      font-size: 2.5rem;
      font-style: italic;
      padding-top: 2rem;
    }
  }
}

//section more authors
