@font-face {
  font-family: "TwCenW01-Medium";
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot");
  src: url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c862d8098ce50a7dc042ebbb9b94bbc8.woff2")
      format("woff2");
}

@font-face {
  font-family: "bimboballpoint";
  src: url(../fonts/bimbo-ballpoint.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  font-size: 10px;
  font-family: $main-font;
  color: $text;
}

body {
  overflow-x: hidden !important;
}

.container {
  width: 95vw;
  margin: auto;
  @include respond(mobile) {
    width: 90vw;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

//flex
.d-flex {
  display: flex;
}

.center-x {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.space-xl {
  margin: 10rem 0;
  @include respond(mobile) {
    margin: 4rem 0;
  }
}

.heading-xl {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  @include respond(mobile) {
    font-size: 4rem;
  }
}

//animations
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
