@mixin container-mobile {
  width: 90vw;
  margin: auto;
}

@mixin fadeUp {
  animation: fadeUp 2s forwards;
}

@mixin fadeIn {
  animation: fadeIn 2s forwards;
}

@mixin scale {
  animation: scale 2s forwards;
}

@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (max-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}
