.footer {
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  line-height: 2;

  @include respond(mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__social {
    display: flex;
    @include respond(mobile) {
    }
    
    &-link {
      margin-left: 2rem;
      @include respond(mobile) {
        margin-left: 0;
        margin-right: 2rem;
      }
    }
  }
}

.story1Page {
  color: white;
  background: black;
  .footer__social-link {
    color: white;
  }
}

.storiesPage {
  background: #dad9cc;
}

.story2Page {
  color: white;
  background: #191919;
  .footer__social-link {
    color: white;
  }
}
