.main-btns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10rem;
  padding-bottom: 3rem;
  height: 5rem;
  font-size: 1.8rem;
  .btn {
    display: inline-block;
    margin: 2rem;
    font-family: $main-font;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 1;
    background: white;
    .active-btn {
      border-bottom: 1px solid black;
      &:first-child,
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .btn__add > img {
    width: 2rem;
    height: 2rem;
  }
}
